/* reset styles (optional) */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: auto;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	scroll-behavior: smooth;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    background: #9E9898;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited, a:focus, a:active, a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
p {
	margin: 0;
	font-size: 15px;
	font-weight: 300;
	line-height: 24px;
	color: #9E9898;
}

/*--------------------*/

/* your parent block */
.container {
	max-width: 500px;
	margin: auto;
	padding: 0 15px;
}

/* your parent block */

.todo_wrapper {
	max-width: 100%;
	height: auto;
	margin: 50px auto;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	padding: 40px 20px;
	background: #2E374A;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
	"header"
	"body"
	"footer";
}

.todo_header {
	position: relative;
	grid-area: header;
	min-width: 100%;
	height: 30px;
	display: flex;
	justify-content: space-between;
}

.todo_body {
	grid-area: body;
	margin: 25px 0;
}

.todo_header input {
	text-indent: 15px;
	width: 67%;
	height: 100%;
	font-size: 16px;
}

.todo_in.error {
	box-shadow: 0 0 5px red;
}

.todo_btn {
	padding: 5px;
	background: #C4AA00;
	letter-spacing: 2px;
	width: 30%;
	margin-left: 10px;
}

.todo_btn:hover {
	background: #D3B700;
}

.todo_footer {
	grid-area: footer;
	display: flex;
	height: 30px;
	align-items: center;
	justify-content: flex-end;
}

.clear_todo {
	background: #C4AA00;
	letter-spacing: 2px;
	padding: 5px;
	width: 30%;
	height: 30px;
	margin-left: 10px;
}

.clear_todo:hover {
	background: #D3B700;
}

.todo_body .liItem {
	display: flex;
	justify-content: space-between;
	padding: 2px 10px;
	margin: 10px 0;
}

.performTaskOk,
.performTaskNoOk {
	min-width: 30px;
}

.btnWr {
	display: flex;
	justify-content: space-between;
	background: transparent;
}

.btnHidden,
.btnImportant,
.delTask {
	padding: 0 10px;
	min-width: 25px;
	height: 25px;
}

.btnHidden {
	background: transparent;
}
.btnHidden:hover {
	background: rgba(255, 165, 0, 0.7);
	transform: scale(1.2);
}
.btnImportant {
	background: transparent;
}
.btnImportant:hover {
	background: rgba(255, 0, 0, 0.9);
	transform: scale(1.2);

}
.delTask {
	background: transparent;
}
.delTask:hover {
	background: rgba(139, 0, 0, 1);
	transform: scale(1.2);

}

.divMessage {
	color: white;
	letter-spacing: 0.5px;
	width: 100%;
	padding: 0 10px;
	cursor: pointer;
	font-size: 16px;
}

.performTaskOk {
	color: green;
}

.important {
	color: rgba(255, 0, 0, 1);;
}

.hidden {
	color: rgba(255, 165, 0, 1);
}

.divMessage.complete {
	color: green;
	text-decoration: line-through;
}

.divMessage:hover {
	transform: scale(1.02);
}



